/* Header */
.jumbotron {
  background-color: #fff;
  padding: 2rem 2rem;
  margin-bottom: 0;
}

.jumbotron-header {
  background-color: #fff;
}

/* SearchBar */
.search {
  display: flex;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}

.search > Input {
  margin-right: -32px;
  padding-right: 32px;
}

.search > img {
  position: relative;
  height: 30px;
  width: 30px;
}

/* AddShortcut */
.addShortcut {
  width: 60%;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
}

.formElement {
  width: 40%;
}

.formBtn {
  width: 15%;
  align-self: flex-end;
}

/* Shortcuts */
.shortcuts {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: left;
}

/* Shortcut */
.shortcutCard {
  flex: 1 1 100%;
  margin: 10px;
  max-width: 300px;
}

#clearBtn {
  box-shadow: none !important;
  outline: none !important;
}

.footerBtn {
  width: 299px;
  border: 0;
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  color: #6c757d;
}

.card-footer {
  background-color: #fff;
  padding: 0;
}

/* Hover on the card */
.shortcutCard:hover {
  border-color: #17a2b8;
}

.shortcutCard:hover > #cardFooter {
  border-top: 1px solid #17a2b8;
}

/* After clicking on edit */
#editShortcutCard {
  border-color: #6c757d;
}

#editCardFooter {
  border-top: 1px solid #6c757d;
}

.footerBtn:focus {
  box-shadow: none !important;
  outline: none !important;
}
